body {
    background-image: url(../images/Фон\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

header {
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 54px;
}

.header-content-container {
    width: 1366px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 18px;
    padding-bottom: 17px;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-link {
    display: flex;
    justify-content: space-between;
}

.header-logo-journey {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    font-style: normal;
}

.header-logo-journey:hover {
    color: #3CB878;
}

.header-icons {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.header-svg path:hover {
    fill: #3CB878;
}

.header-span {
    font-size: 14px;
    line-height: 14px;
    padding-top: 5px;
    color: #FFFFFF;
}


.header-span-log-in:hover {
    color: #3CB878;
}

.header-span-sign-up:hover {
    color: #3CB878;
}

.main-form-container {
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: 0 auto;
    position: relative;
}

.main-form-container-wrapper {
    display: flex;
    justify-content: center;
    gap: 216px;
}

.main-heading-sign-up {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin-top: 31px;
    margin-bottom: 16px;
}

.main-heading-sign-up::before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    display: block;
    position: absolute;
    top: 32px;
    left: 0px;
}

.main-form-container-log-in {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-top: 33px;
    margin-bottom: 14px;
}

.main-form-container-log-in:hover {
    color: #01813F;
    text-decoration: underline;
}

main a {
    text-decoration: none;
}

.main-btn-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 31px;

}

.main-btn-facebook,
.main-btn-google {
    font-family: 'Ubuntu';
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    width: 157px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;

}

.main-btn-facebook {
    background: #305DB8;
    position: relative;
}

.main-btn-facebook:hover {
    background: #022263;
}

.main-btn-facebook-span::before {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    top: 10px;
    left: 48px;
}

.main-btn-google {
    background: #DF4A32;
    position: relative;
}

.main-btn-google:hover {
    background: #AB1F09;
}

.main-btn-google-span::before {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    top: 10px;
    left: 53px;
}

.main-span-or {
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
    margin-bottom: 11px;
}

.main-span-or::before {
    content: "";
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
    display: block;
    position: absolute;
    top: 150px;
    left: 60px;
}

.main-span-or::after {
    content: "";
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
    display: block;
    position: absolute;
    top: 150px;
    right: 60px;
}

input {
    border: none;
    outline: none;
    width: 322px;
    height: 44.08px;
    margin-bottom: 12px;
    margin-left: 61px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Ubuntu';

}

input::placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    padding-left: 19px;
}

input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.main-input-ckecbox {
    width: 14px;
    height: 13.5px;
    border: 2px solid #3CB878;
}

.main-input-label-agree {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.main-form-container-link {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.main-form-container-link:hover {
    color: #01813F
}

.main-btn-create-account {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.main-btn-create-account:hover {
    background: #01813F;
}